# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Streamlit cache
.streamlit/

# Output files
output_images/
*.png
*.jpg
*.jpeg

# OS-specific files
.DS_Store
Thumbs.db
